body {
    font-family: bilo, sans-serif;
    max-width: 400px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
    color: white;
}
#app {
    background: linear-gradient(180deg, hsla(192, 20%, 49%, 1) 0%, hsla(23, 91%, 54%, 1) 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 36px -15px rgba(0,0,0,0.75);
}
h1 {
  font-size: 70px;
  font-weight: 200;
font-style: normal;
text-align: left;
padding-top: 30px;
}
h2 {
    font-style: normal;
    font-weight: 100;
}
form {
    text-align: center;
    
}
.city {
    text-align: right;
    font-size: 50px;
    font-style: italic;
    font-weight: 100;
}
.date {
    text-align: right;
}
.fa-cloud-moon-rain {
    font-size: 60px;
}
